# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# Build files (if applicable)
dist/
build/

# Miscellaneous
*.swp
*.bak
*.orig
*.lock
